# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.log

# PyInstaller
/dist/
/build/
*.spec

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Tests caches
.pytest_cache/
.mypy_cache/

build/
